@mixin transition ($what, $length, $type) {
	-webkit-transition: $what, $length, $type;
	-o-transition: $what, $length, $type;
	transition: $what, $length, $type;
};

@mixin full-yellow-gradient () {
	background: linear-gradient(to top, rgba($secondary-color, 1), rgba($secondary-color, 0));
};