// Add some whitespace above the footer for medium-up screens
@media #{$small-up} {
	.footer {
		margin-top: rem-calc(75);
		margin-bottom: rem-calc(25);
		font-size: rem-calc(12);
	}
}
@media #{$medium-up} {
	.footer {
		span {
			width: 25%;
		}
	}
}
