// Add some whitespace above the footer for medium-up screens
@media #{$small-up} {
	.footer {
		margin-top: rem-calc(75);
		padding-bottom: rem-calc(15);
		font-size: rem-calc(12);
		span {
			width: 25%;
		}
	}
}
