@media #{$small-up} {
	.cat-title {
		font-size: rem-calc(10);
		font-weight: bold;
		color: $iron;
		border-bottom: solid 1px $iron;
		padding-bottom: rem-calc(10);
		margin-bottom: rem-calc(20);
		text-transform: uppercase;
	}
	.loop-home {
		background: $white;
		border-bottom: solid 3px $iron;
		margin-bottom: rem-calc(25) !important;
		.background-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include full-yellow-gradient;
			opacity: .33;
		}
		.post-date {
			padding: rem-calc(5) !important;
			border-right: solid 1px rgba($iron, .2);
			line-height: rem-calc(10);
			padding-top: rem-calc(10) !important;
		}
		h5 {
			font-size: rem-calc(28);
			font-weight: light;
		}
		small {
			font-style: Arial, sans-serif;
			font-size: rem-calc(10);
			text-transform: uppercase;
		}
		.entry-content {
			padding-top: rem-calc(10) !important;
			padding: rem-calc(0 10) !important;
			padding-bottom: rem-calc(20) !important;

		}
		.link-article {
			font-size: rem-calc(10);
			text-transform: uppercase;
			span {
				margin-left: rem-calc(10);
			}
			&:hover {
				color: $secondary-color;
				border-bottom: solid 2px $secondary-color;
				span {
					color: $secondary-color;
				}
			}
		}
	}
}